**/._*
**/.DS_Store
Podfile.lock
Pods/

# fastlane specific
**/fastlane/report.xml

# deliver temporary files
**/fastlane/Preview.html

# snapshot generated screenshots
**/fastlane/screenshots

# scan temporary files
**/fastlane/test_output

PreMatch.xcodeproj/*

**/review_information/
